<script>
    export let match;
    import {onMount} from "svelte";
    import axios from 'axios';

    let formattedDate;
    onMount(async () => {
        formattedDate = new Date(match.time * 1000).toLocaleString();
    })


</script>
<main>
    <h2> {match.key} </h2>
    <h4> {formattedDate} </h4>
    <div class="content-container">
        <div class="table-container">
            <table>
                <tr>
                    <td class="heading">Alliance</td>
                    <td class="heading">Auto Score</td>
                    <td class="heading">Teleop Score</td>
                    <td class="heading">Endgame Score</td>
                    <td class="heading">Fouls</td>
                    <td class="heading">Total Score</td>
                    <td class="heading">Net EPA</td>
                </tr>
                <tr class="red">
                    <td class="heading">Red</td>
                    <td>{match.red_auto}</td>
                    <td>{match.red_teleop}</td>
                    <td>{match.red_endgame}</td>
                    <td>{match.red_fouls}</td>
                    <td>{match.red_score}</td>
                    <td>{match.red_epa_sum}</td>
                </tr>
                <tr class="blue">
                    <td class="heading">Blue</td>
                    <td>{match.blue_auto}</td>
                    <td>{match.blue_teleop}</td>
                    <td>{match.blue_endgame}</td>
                    <td>{match.blue_fouls}</td>
                    <td>{match.blue_score}</td>
                    <td>{match.blue_epa_sum}</td>
                </tr>
            </table>
        </div>
        <div class="video-container">
            <table id="teamTable">
                <tr>
                    <td>Red Teams</td>
                    <td>Blue Teams</td>
                </tr>
                <tr>
                    <td class="red">{match.red_1}</td>
                    <td class="blue">{match.blue_1}</td>
                </tr>
                <tr>
                    <td class="red">{match.red_2}</td>
                    <td class="blue">{match.blue_2}</td>
                </tr>
                <tr>
                    <td class="red">{match.red_3}</td>
                    <td class="blue">{match.blue_3}</td>
                </tr>
            </table>
            {#if match.video != null}
                <iframe
                        width="280"
                        title="Video if there is one"
                        height="157.5"
                        src={`https://www.youtube.com/embed/${match.video}`}
                        frameborder="0"
                        allowfullscreen
                ></iframe>
            {/if}
        </div>
    </div>
</main>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        border: 2px solid whitesmoke;
    }

    td, th {
        border: 1px solid whitesmoke;
        padding: 8px;
        text-align: center;
    }

    #teamTable {
        width: 30%;
        margin-right: 277px;
    }


    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 16px;
        margin-bottom: 20px;
        border-radius: 8px;
        background-color: rgb(63, 61, 61);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    h2 {
        margin-bottom: 0;
    }

    h4 {
        margin-top: 2px;
    }

    .video-container {
        margin-top: 40px;
        display: flex;
        width: 100%;
    }

    .content-container {
        width: 100%;
    }

    iframe {
        align-self: end;
    }

    .blue {
        background-color: #4748c5;
    }

    .red {
        background-color: #c55456;
    }


    .heading {
        background-color: #373639
    }
</style>