<script>
    import axios from "axios";
    import Card from "./lib/Card.svelte";

    let userInput = '';
    let foundData = null;
    let data = [];

    async function handleSubmit() {
        try {
            const response = await axios.get(`https://api.statbotics.io/v2/matches/event/${userInput}`);
            data = response.data;
            console.log(data);
            foundData = data.length;
            if (foundData) {

            }
        } catch (error) {
            console.error("Error fetching data:", error);
            foundData = false;
        }
    }

</script>

<main>
    <label for="userInput">Enter the ID of the event you are looking for: </label>
    <input type="text" id="userInput" bind:value={userInput}/>

    <button on:click={handleSubmit}>Submit</button>
    {#if !foundData && foundData != null}
        <br/>
        <label for="foundData">There wasn't any info I could find on this event :(</label>
    {:else if foundData}
        <br/>
        {#each data as match (match.key)}
            <Card match={match} />
        {/each}
    {/if}
</main>

<style>

</style>
